[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "platetools"]
	path = platetools
	url = https://github.com/swarchal/platetools
